.tourCard {
	/* border-radius: 20px; */
	/* background-color: rgb(53, 53, 53); */
	color: black;
	/* border: 2px solid black; */
	width: 300px;
	padding: 20px;
	font-size: 14px;
}

.image-limit {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 350px;
	background-size: cover;
	/* height: 200px !important; */
}

.white {
	color: white;
}

.bg-black {
	background-color: black;
}

.bg-gray {
	background-color: #f2f2f2;
}

hr {
	/* border-color: gray; */

	background-color: rgba(161, 161, 161, 0.466);
}

.thin-text {
	font-weight: 300;
	color: rgb(194, 194, 194);
}

.bold-text {
	color: #484848;
	font-size: 16px !important;
	line-height: 24px !important;
	font-weight: 600 !important;
	margin: 6px 0 5px !important;
}

.tour-feature {
	margin-right: 80px;
}

.try-new {
	margin-right: 10px;
	max-width: 200px;
}

@media only screen and (max-width: 450px) {
	.tour-feature {
		margin-right: 30px;
	}
}

/* .expForm {
	width: 100%;
	background-color: white;
	display: flex;
} */

form {
	width: 100%;
}

input[type="text"],
textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 4px 20px;
	height: 35px;
	border: none;
	border-bottom: 1px solid black;
	margin: 10px;
	/* border-radius: 3px; */
	flex-grow: 1;
}

textarea {
	height: 150px;
}

.bigPhoto {
	background-color: #fff;
	flex-basis: 28.5%;
	flex: 1;
	box-shadow: 0px 0px 0px 3px black inset;
}

.smallPhotos {
	background-color: rgb(187, 69, 69);
	flex-basis: 14.25%;
	/* border: 1px solid black; */
}

.smallPhoto {
	box-shadow: 0px 0px 0px 3px black inset;
	/* border-top: 2px solid black; */
	height: 25vw;
}
.photoGrid {
	height: 25vw;
}

.edit {
	position: absolute;
	top: 5px;
	right: 5px;
}

.experiences {
	font-family: "Comfortaa", cursive;
}

.avatar {
	border-radius: 50%;
}

.intro {
	text-align: left;
	letter-spacing: 2px;
	word-spacing: 5px;
}
